button,a[type=button],input[type=submit]{
    cursor: pointer;
    border:0;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    color: #FFFFFF;  
    display: flex;
    justify-content: center;
    align-items: center;
}
button::selection{
    text-decoration: none;
}

.form-control:focus-within {
    color:#FE9013;
  }
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
  
 input[type="radio"]::before {
    content: "";
    border-radius: 50%;
    transform: scale(0);
    transition: 50ms transform ease-in-out;
    
  }
  input[type="radio"]::after {
    transform: scale(0);
    transition: 80ms transform ease-in-out;
  }
  input[type="radio"]:checked::before,input[type="radio"]:checked::after {
    transform: scale(1);
  }

.default{
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
                                      
}
.ellipse-default{
    width: 62px;
    height: 62px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.ellipse-default:hover,.default:hover{
    background: #E47209;
}
.ellipse-default:active,.default:active{
    background: #4B9200;
}

.border-r-5{
    border-radius: 5px;
}
.border-r-25{
    border-radius: 25px; 
}