.section-1{
    grid-row: 1/ span 2;
    grid-column: 1/-1;
    background: no-repeat center/cover url('../assets/img/giant-panda.png');
    display:flex;
}
.section-1>*{
    flex: 1;
}
.section-1 .right{
    position: relative;
    height: 100%;
    top: 80px;
    padding-left: 13px;
}
.section-1 .ellipse{
    top: 12px;
    height: 465px;
    width: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-size: 465px;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

.right .main-text{
    width: 500px;
    margin-left: 74px;
    margin-top: 73px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-text h2{
    margin: 0;
    font-size: 106.5px;
    font-family: 'Roboto Bold';
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    cursor: default;
}
h2 .favourite{
    color:#FFEE2E;
}
.main-text h2::selection,h2 .favourite::selection{
    text-decoration: none;
}
.main-text button{
    margin-top: 61px;
    margin-left: 3px;
}