.section-donation-info{
    display: flex;
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 40px;
    max-width: 1600px;
    flex-direction: column;
}

.section-donation-info .wrapper{
    width: 1160px;
}
.wrapper h3 {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
    text-transform:uppercase;
}
.wrapper p{
    padding-top: 10px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    letter-spacing: .03px;
}
.wrapper h3.title{
    padding-top:45px;
    color: #FE9013;
    text-transform:capitalize;
}
.section-donation-info .wrapper .container{
    margin-top:60px;
    padding: 40px 92px 62px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.wrapper .container h2{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    color: #FE9013;
    align-self: center;
    padding-right: 12px;
}
.wrapper .container h4.subtitle{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
    color: #333B41;
    margin-top:21px;
}
.wrapper .container section.animals-widjet{
    margin-top:60px;
    display: flex;
    justify-content: center;
    width: 100%;
}

section.animals-widjet div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 42px 9px 0px 0px;
}
section.animals-widjet div:nth-child(3){
    margin-right: 14px;
}
.animals-widjet .x-icon{
    align-self: center;
    margin-left: 0px;
    margin-right: 64px;
    padding-top: 24px;
}
section.animals-widjet p.num{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 80%;
    /* identical to box height, or 58px */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}
section.animals-widjet p.text{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #333B41;
}
.amount-feed-widjet{
    margin-top: 34px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.amount-feed-widjet p{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #000000;
    padding-left: 5px;
}
.amount-wrap {
    width: 100%; 
    margin-top:17px;
}
.amount-feed-widjet p.last{
    margin-top: 20px;
    align-self: center;
}

.range-wrap{
    background: #404950;
    border-radius: 2px;
    padding: 0 30px 0px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 100%;
}
.range{
    
    width: 100%;
    background: #72828E;
    height: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.range input[type="radio"]{
    appearance: none;
    position: relative;
    border-radius: 50%;
    background-color: #FFEE2E;
    width: 10px;
    height: 10px;
    transform: translateY(0);
    cursor: pointer;
}
.range input[type="radio"]:checked{
    background-color:#fe9013;
}
.sum li:hover{
    color:#fe9013;
} 
.range input[type="radio"]:hover{
    background-color: #fe9013;
}
.range input[type="radio"]:active{
    background-color: #4B9200;
}

.amount-radio::after{
    transform: translateY(0);
    content: "";
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
}
.range input[type="radio"]::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
  }
  .amount-radio:checked::after, .amount-radio:checked::before {
    border: 2px solid #FE9013;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sum li{
    cursor: pointer;
}
.sum li.active-amount svg path{
    fill:#FE9013;
}
.sum li.active-amount span{
    color:#FE9013;
}
.payment-choise input[type=radio]{
    width: 16px;
    height: 16px;
    border: 0.1em solid #FE9013;
    margin-right: 10px;
}
.payment-choise input[type=radio]:checked + label {
    color: #FE9013;
}
.payment-choise input[type=radio]::before{
    width: 8px;
    height: 8px;
    box-shadow: inset 1em 1em #fe9013;
}

.amount-wrap .sum{
    padding: 6px 24px 0px 0px;
    display: flex;
    align-items: center;
    margin-top:6px;
    
}
.sum li{
    display: flex;
    align-items: center;
    column-gap: 3px;
}
.sum li:nth-child(2){ margin-left: 58px; }
.sum li:nth-child(3){ margin-left: 58px; }
.sum li:nth-child(4){ margin-left: 60px; }
.sum li:nth-child(5){ margin-left: 73px; }
.sum li:nth-child(6){ margin-left: 73px; }
.sum li:nth-child(7){ margin-left: 73px; }
.sum li:nth-child(8){ margin-left: 88px; }
.sum span{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 140%;
    /* or 36px */
    text-transform: uppercase;
    color: #333B41;
}
.payment-choise{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    margin-right: 12px;
 }
 /* .payment-choise label:hover{
    color: #fe9013;
 } */
 .payment-choise>label:nth-child(2){
    margin-right: 50px;
 }

 .form-control{
     font-family: 'Roboto Regular';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     /* or 22px */
     color: #333B41;
     display: flex;
     align-items: center;
     gap: 10px;
     cursor: pointer;
 }

input.other-amount{
    margin-top: 50px;
    height: 54px;
    width: 268px;
    border: 2px solid #929699;
    padding: 0px 20px 0px 8px;
    background-color: rgba(255, 255, 255, 0.1);
    background: url(../img/svg/dollar-gray.svg) no-repeat center right 8px;
    border-radius: 3px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #929699;
    box-sizing: border-box;
    align-self: center;
}

input[type=submit]{
    margin-top: 29px;
    align-self: center;
    border: none;
    margin-left: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
div.info .author {
    gap: 0px;
}