.section-2{
    background-image: url('../assets/img/flower_foto.png');
    background-repeat: no-repeat;
    background-position: right 12px;
    padding-bottom: 100px;
}
.section-2 .wrapper{
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
}

.cap{
    margin-top: 140px;
    width: 609px;
    height: 403px;
    background: no-repeat right/cover url('../assets/img/bamboo-cap.png');
}
.text-cap{
    margin-top: 140px;
    margin-left: 87px;
    width:465px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}
.text-cap h2.title-cap{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
}
.text-cap h4{
    padding-top: 54px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}
.text-cap p:nth-child(1n){
    padding-top:22px;
    line-height: 130%;
    font-size: 16px;
    color: #333B41;
    font-family: 'Roboto Regular';
}
.text-cap p:last-child{
    padding-top: 33px;
    line-height: 138%;
}
