footer{
    background-color: #111115;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  
}
footer>*{
    color:#fff;
}
footer .wrapper{
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-logo-subscribe{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}
ul.subscribtion{
    margin-top: 1px;
    letter-spacing: .2px;
}
.subscribtion .subtitle{
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    /* identical to box height, or 29px */
}
.subscribtion .form-subscription{
    display: flex;
    gap: 10px;
    margin-top: 13px;
}
input[type=email] {
    display: flex;
    width: 228px;
    height: 42px;
    background-color: #111115;
    border: 1px solid orange;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #BDBDBD;
    padding-left: 10px;
}
button[type=submit] {
    width: 129px;
    height: 42px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    margin: 0;
    padding: 0;
    color: #000;
    background: #F1F3F2;
    border: 1px solid #333B41;
    border-radius: 5px;
    text-transform: none;
}
button[type=submit].mistake {
    color: #D31414;
    border: 1px solid #D31414;
}
button[type=submit].active {
    color: #4B9200;
    border: 1px solid #4B9200;
}
.btn-donate{
    margin-top: 36px;
    margin-bottom: 44px;
}
.btn-donate>a{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .info ul{
    display: flex;
    justify-content: space-between;
}
footer .info .links{
    align-self: end;
    margin-left: 120px;
    letter-spacing: .18px;
}
footer .info .links ul{
    gap: 58px;
    align-items: flex-end;
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
footer .info .links ul li{
    cursor: pointer;
}
.social-media ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.social-media ul li a{
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}
.social-media ul li:active a span:nth-child(1){
    background:#4B9200;
}
.social-media ul li:active a span:nth-child(2){
    color:#4B9200;
}

.social-media ul li a span:nth-child(2){
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 26px; */
    height: 11px;
    display: block;
}
.facebook-icon, .twitter-icon,.instagram-icon,.youtube-icon{
    width: 26px;
    height: 26px;
    background-color:  rgba(196, 196, 196, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.author p{
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    opacity: 45%;
}