

header{
    background-color: black;
    z-index: 1;
    grid-row: 1/2;
    grid-column: 1/-1;
}

header .wrapper{
    max-width: 1160px;
    display: grid;
    grid-template-columns: 82px 1fr 105px;
    color: white;
    align-items: center;
    height: 100%;
    margin: 0 auto;
} 
.logo{
    border: 1px solid white;
    border-radius: 2px;
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 122%;
    width: 82px;
    height: 52px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}
.logo:after{
    content: "";
    width: 14px;
    top: 22px;
    left: 9px;
    height: 21px;
    position: absolute;
    background: url(../assets/img/svg/bamboo.svg) no-repeat;
}
ul.links{
    width: 471px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    margin-left: 63px;
}
.disigned{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #FFFFFF;
    justify-self: flex-end;
    letter-spacing: 0.1px;
}


header .links li{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
}
.links li:active,.disigned:active,.logo:active{
    color:#4B9200;
}

.links .active, .links .active a{
    color:#F9804B;
}