.section-4{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 69px 220px 100px 220px;
}
.section-4 .container{
    width: 1160px;
    height: 835px;
    border-radius: 20px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.section-4 .container h2{
    margin-top:41px;
    margin-bottom: 30px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    /* identical to box height, or 58px */
    text-align: center;
    color: #FE9013;
    align-self: center;
}
.section-4 .container h4{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 122%;
    /* identical to box height, or 29px */
    color: #333B41;
    padding-bottom: 40px;
    padding-left: 99px;
}
.section-4 .container h5{
    font-family: 'Roboto Bold';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 132%;
/* identical to box height, or 21px */
color: #333B41;
padding-bottom: 10px;
padding-left: 99px;
letter-spacing: -0.06px;
}
.section-4 .container p a{
    color:#333B41;
}
.section-4 .container p{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    /* or 21px */
    width: 970px;
    padding-left: 99px;
    color:#333B41;
}

.section-4 .container h3{
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    /* identical to box height, or 47px */
    color: #333B41;
    margin-top:60px;
    align-self: center;
}
.section-4 .container .widjets{
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-self: center;
    width: 764px;
}
.widjets .widjet{
    width: 168px;
    height: 244px;
}
.widjets .widjet-img{
    height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F9804B;
    background-color: #fff;
    border-radius: 5px;
}
.section-4 .container .widjet p{
    margin-top:30px;
    width: 168px;
    height: 46px;
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #333B41;
    padding: 0;
}
.section-4 .container .widjets .arrow{
    height: 157px;
    display: flex;
    align-items: center;
}

.section-4 .container a[type=button]{
    margin-top: 60px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
